$GRAY_BASE: #333;
$GRAY_MAIN: #808E9B;
$GRAY_LIGHT: #E5E5E5;
$GRAY_DARK: #2F485D;
$BLUE: #0085E1;
$PLASHKI: #F8F8F8;
$WHITE: #FFF;
$BEIGE: #F4EEDE;

$LINEAR: linear-gradient(135deg, rgba(100,115,195,1) 0%, rgba(44,185,235,1) 100%);
$LINEAR-BEIGE: linear-gradient(135deg, rgba(244,238,222,1) 0%, rgba(245,242,234,1) 50%, rgba(255,254,250,1) 100%);


$BREAKPOINT_MOBILE_START_743: 743px;
$red: #f24841;
$blue: #326197;
